.header{
    animation: fadedown 1s ease-in-out;
    font-size: 25px;
}

@keyframes fadedown{
    0%{
        opacity: 0;
        transform: translateY(-30px);
    }
    100%{
        opacity: .85;
        transform: translateY(0px);
    }
}

body {
    background-color: black;
    background-image: url("/img/test/mainbg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.mainlayout{
    font-family: Arial, sans-serif;
    position: relative;
    top: 100px;
    border-radius: 8px;
    border: 1px solid #ddd;
    padding: 30px;
    max-width: 600px;
    margin: 40px auto;
    background: transparent;
    backdrop-filter: blur(7px);
    box-shadow: 6px 6px 15px skyblue;
    transition: ease-in-out 1s;
    animation: fadeup .5s ease-in-out;
}

@keyframes fadeup{
    0%{
        opacity: 0;
        transform: translateY(30px);
    }
    100%{
        opacity: .85;
        transform: translateY(0px);
    }
}

.mainlayout:hover{
    box-shadow: -6px -6px 15px skyblue;
    transition: ease-in-out 1s;
}

h1 {
    text-align: center;
    color: white;
}

.section {
    display: none;
    animation: fadeIn 0.8s ease-in-out;
    color: white;
}

.section.active {
    display: block;
}

p {
    font-size: 18px;
    font-weight: 500;
}

label {
    display: block;
    margin: 10px 0;
    font-size: 16px;
    cursor: pointer;
}

input[type="radio"] {
    margin-right: 10px;
}

.navigation {
    margin-top: 20px;
    text-align: center;
}

.navigation button {
    padding: 12px 25px;
    margin: 0px 15px;
    font-size: 16px;
    font-weight: bold;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    background-color: #007bff;
    color: #fff;
    transition: background-color 0.3s ease;
}

.navigation button:hover {
    background-color: #0056b3;
    animation: btn .5s infinite;
}
@keyframes btn{
    0%{
        transform: translateY(3px);
    }
    50%{
        transform: translateY(-3px);
    }
    100%{
        transform: translateY(3px);
    }
}

button:disabled {
    background-color: #cccccc;
    cursor: not-allowed;
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(10px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@media (max-width: 328px){
    .navigation {
        margin-top: 30px;
        text-align: center;
    }
    .navigation button {
        padding: 17px 25px;
        margin: 0px 15px;
        font-size: 12px;
        font-weight: bold;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        background-color: #007bff;
        color: #fff;
        transition: background-color 0.3s ease;
    }
    button:disabled {
        background-color: #cccccc;
        cursor: not-allowed;
    }
    .navigation button:hover {
        background-color: #0056b3;
        animation: btn .5s infinite;
    }
}